/* Abhishek's code area start */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #15b392;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

.image-section {
    position: relative;
    height: 80vh;
    background-image: url('images/first.jpeg');
    background-size: cover;
    background-position: center; 
}

.image-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}


.overlay {
    position: relative;
    color: white;
    text-align: center;
    top: 80%;
    transform: translateY(-50%); 
    z-index: 2;
}



/* Abhishek's code area end */

/* Gayatri's code area start */
/* Gayatri's code area end */

/* Hrishi's code area start */
/* Hrishi's code area end */

/* Rajvi's code area start */
/* Rajvi's code area end */
